*{
    margin: 0%;
    padding: 0%;
}
/* header part statr  */
header{
    background-image: url(./images/lucid_onepage_source.png);
    min-height: 100vh;
    background-size: cover;
 
    background-repeat: no-repeat;
    padding: 0px 250px;

    align-items: center;
    position: relative;
   
}
.navbar-light .navbar-nav .nav-item {
    padding-left: 20%;

}
.navbar-light .navbar-nav .nav-link {
  
    color: #fff;
    font-size: 16px;
    font-family: auto;
    position: relative;
    padding: 0%;
}
.navbar-light .navbar-nav .nav-link:hover {
  
    color: #fff;
   
}
.navbar-light .navbar-nav .nav-link::before {
  
  position: absolute;
  content: " ";
  height: 2px;
  width: 0%;
  left: 0%;
  bottom:-10%;
  background-color:#008ed6;
  transition: .4s all ease-in-out;
}
.navbar-light .navbar-nav .nav-link::after {
  
    position: absolute;
    content: " ";
    height: 2px;
    width: 0%;
    right: 0%;
    bottom: -10%;
    background-color:#008ed6;
    transition: .4s all ease-in-out;
  }
  .navbar-light .navbar-nav .nav-link:hover::before{
  
    width: 45%;
}
.navbar-light .navbar-nav .nav-link:hover::after{
  
    width: 45%;
   
}
.header-content{

}
.header-content h5{
    color:#008ed6;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 20px;
}
.header-content h1{
    color:#fff;
    font-size: 50px;
    margin-bottom: 25px;
}
.header-content p{
    color: #7f7f7f;
    margin-bottom: 50px;
}
.btn-download{
 color: #fff;
 background-color: #008ed6;
 text-transform: uppercase;
 font-size: 14px;
 letter-spacing: 1px;
 padding: 0%;
 padding: 12px 18px;

 
}

.btn-download:hover{
    border: 1px solid#999999;
    background: transparent;
    color: #fff;
}

.btn-feature{
    color: #fff;
 background-color: #7f7f7f;
 text-transform: uppercase;
 font-size: 14px;
 letter-spacing: 1px;
 padding: 0%;
 padding: 12px 18px;
 border: 1px solid#999999;

}

.btn-feature{
    background-color: #008ed6;
    border: 1px solid#999999;
    color: #fff;

}

.hg{
    min-height: 96vh;
    align-items: center;
    margin: 10px -479px;
}
.phone{

position: absolute;

bottom: 8%;

left: 69%;
}
.phone img{
    
width: 90%;
}
.features-section{
padding: 50px 0px;
}
<!-- 2nd part:features section start  -->

.heading{

}
.heading h5{
    color: #008ed6;
    font-size: 14px;
    
}
.heading h1{
    
color: rgb(0, 0, 0);
    
font-size: 36px;
}
.heading span{
    display: inline-block;
    height:3px;
    width:50px;
    
    position: relative;

}
.heading span::before{
    position: absolute;
    content: " ";
    height: 100%;
    width: 0%;
    left:0%;
    top: 0%;
    background-color:#008ed6 ;
    transition: .4s all ease-in-out;
}
.heading span::after{
    position: absolute;
    content: " ";
    height: 100%;
    width: 0%;
    right:0%;
    top: 0%;
    background-color:#008ed6 ;
    transition: .4s all ease-in-out;
}

.features-section:hover .heading span::before{

width: 47%
}
.features-section:hover .heading span::after{
    width: 47%
}
/* icon part start  */

.features-content{

text-align: center;
}
.features-content h3{
    
}
.features-content p{
    
}

.icon{
    
line-height: 80px;
    
border: 1px solid;
    
height: 80px;
    
width: 80px;
    
text-align: center;
    
border-radius: 50%;
    
font-size: 25px;
    
margin: auto;
    
border-color: #e6e3e3;
    
color: #8888f2;
}
.detail{

}
.detail h1{
    
}
.detail h5{
    
font-size: 14px;
    
color: #008ed6;
    
text-transform: uppercase;
}
.detail p{
    
}
.detail ul{
    line-break: auto;
    margin: 36px;
    padding: 0px;
}
.detail  li{
    list-style: none;
    display: flex;
    align-items: center;
}
.detail span{
    display: inline-block;
    height:3px;
    width:50px;
    
    position: relative;

}
.detail span::before{
    position: absolute;
    content: " ";
    height: 100%;
    width: 0%;
    left:0%;
    top: 0%;
    background-color:#008ed6 ;
    transition: .4s all ease-in-out;
}
.detail span::after{
    position: absolute;
    content: " ";
    height: 100%;
    width: 0%;
    right:0%;
    top: 0%;
    background-color:#008ed6 ;
    transition: .4s all ease-in-out;
}



.mobile-section:hover .detail span::before{

width: 47%
}
.mobile-section:hover .detail span::after{
    width: 47%
}
.mobile{

}
.mobile img{

}

.col-md-6{
    margin: auto;
}
/* next section starts  */

.super{

}
.super h5{
font-size: 14px;
    
color: #008ed6;
    
text-transform: uppercase;
    
}
.super h1{
    
}

.super span{
    display: inline-block;
    height:3px;
    width:50px;
    
    position: relative;

}
.super span::before{
    position: absolute;
    content: " ";
    height: 100%;
    width: 0%;
    left:0%;
    top: 0%;
    background-color:#008ed6 ;
    transition: .4s all ease-in-out;
}
.super span::after{
    position: absolute;
    content: " ";
    height: 100%;
    width: 0%;
    right:0%;
    top: 0%;
    background-color:#008ed6 ;
    transition: .4s all ease-in-out;
}

.customise-section:hover  span::before{

width: 47%
}
.customise-section:hover  span::after{
    width: 47%
}
/* testimonial section starts  */


.testimonial-section{
    background-image: url(./images/banner2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;


}
.Testimonial{
  

}
.Testimonial p{

color: rgb(255, 255, 255);
}

.heading{

}
.heading span{
    display: inline-block;
    height:3px;
    width:50px;
    
    position: relative;

}
.heading span::before{
    position: absolute;
    content: " ";
    height: 100%;
    width: 0%;
    left:0%;
    top: 0%;
    background-color:#008ed6 ;
    transition: .4s all ease-in-out;
}
.heading span::after{
    position: absolute;
    content: " ";
    height: 100%;
    width: 0%;
    right:0%;
    top: 0%;
    background-color:#008ed6 ;
    transition: .4s all ease-in-out;
}
.testimonial-section:hover  .heading span::before{

    width: 47%
    }
.testimonial-section:hover  .heading span::after{
        width: 47%
    }

.client{
    display: flex;
    width: 45%;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.client_img{

}
.client_img img{

}
.client-desk{

}
.client-desk p{
    
}
.client-desk h5{


color: #fff;
}
.owl-nav{
    display: none;
}
.owl-dots{
    text-align: center;
}
.owl-dots span{
    

    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50px;
    background: transparent;
    margin-right: 5px;
    border: 1px solid #7b7878;
}

.owl-dots .active span{

    background-color: #fff;
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 50px;
}
<!-- pricing part start  -->


.customise-section{
    background: #e8e7e7;
}
.pricing{
    padding: 100px 0;
    
}
.price{

text-align: center;

/* border: 1px solid; */

border: 1px solid #c7bfbf;
}
.price h2{
    
font-size: 30px;
    
text-transform: uppercase;
    
margin: 0;
    
padding: 10px;
    
border-bottom: 1px solid #dcd7d7;
transition: .4s all ease-in-out;
}
.price h1{
    
font-size: 50px;
    
margin: 0;
    
/* padding-bottom: 10px; */
}
.price span{
    
text-transform: uppercase;
    
font-size: 14px;
    
color: #b3b2b2;
    
/* margin-bottom: 20px; */
    
display: inline-block;
}
.price h1 sup{
    
font-size: 27px;
    
font-weight: 700;
}
.price p{
    margin: 0;
 margin: 20px 0;
padding:20px; 
}
.btn-order{
    
color: 008ed6;
    
color: #008ed6;
    
font-size: 14px;
    
font-weight: 600;
    
text-transform: uppercase;
    
border: 1px solid #daddde;
    
letter-spacing: 1px;
    
padding: 10px 25px;
    
margin-bottom: 20px;
transition: .4s all ease-in-out;
}
.price:hover .btn-order{
    background:#008ed6;
    color: #fff;
}
.amount{
    
padding: 30px 0;
    
border-bottom: 1px solid #d5d4d4;
transition: .4s all ease-in-out;
}
.price:hover .amount{
    background:#008ed6;
    color: #fff;
}
.price:hover .amount span{
    
    color: #fff;
}
.price:hover h2{
    color: #008ed6;
}
.contact_us{
    background-color: rgb(248, 248, 248);
    padding: 100px 0;
    position: relative;
    padding-bottom: 14%;
}

.contact_form{

background: black;

padding: 50px;

width: 50%;

position: absolute;

left: 50%;

transform: translateX(-50%);

top: 60%;
}
form{

}
.contact_us form input{
    caret-color:#fff;
background: transparent;


}
.contact_us form textarea{
    caret-color:#fff;
background: transparent;
}
.contact_us form input[type="submit"]{

border: none;

color: #fff;

letter-spacing: 1px;

font-size: 14px;

text-transform: uppercase;

background: #008ed6;

padding: 10px 20px;

border-radius: 5px;
}
.contact_us form input:focus{
    background:transparent;
    box-shadow:none;
    border: 1px solid #fff;
}
.contact_us form input:textarea{
    background:transparent;
    box-shadow:none;
    border: 1px solid #fff;
}